slurm-*
.vscode
.conda
benchmarks
data
/.quarto/
.snakemake
.DS_Store
generode
reports
logs
.backup_files
misc
writing
sync.err
generode*

# Ignore only for now until determining what needs to be included
index.qmd
references.bib
figures
tables
images
/scripts
analyses/results
analyses/results-rackham
resources
_freeze
_manuscript
custom-reference-doc.docx
sims